# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints and outputs
.ipynb_checkpoints/
*.nbconvert.ipynb

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# pyenv
.python-version

# VS Code
.vscode/

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Packaging metadata
pip-wheel-metadata/

# Spyder project settings
.spyproject/

# Rope
.ropeproject/

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Sphinx build
docs/_build/

# dotenv
.env.local
.env.*.local

# Celery
celerybeat-schedule

# Misc
__MACOSX/
